:root {
	--grid-box-size: 150px;
	--token-size: 90px;
}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	min-block-size: 100vh;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	flex-flow: wrap;
	background-color: black;
	gap: 0.5rem;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	block-size: var(--grid-box-size);
	inline-size: var(--grid-box-size);
}

.circle {
	block-size: var(--token-size);
	inline-size: var(--token-size);
	border: 0.9375rem solid blue;
	border-radius: 50%;
}
