:root {
	--grid-box-size: 150px;
	--token-size: 90px;
	/* cross center */
	--cross-center-point: 39.375px;
}

* {
	box-sizing: border-box;
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-block-size: 100vh;
}

.heading {
	margin: 2rem 0 4.5rem;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	flex-flow: wrap;
	background-color: black;
	margin-bottom: 1rem;
	gap: 0.5rem;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	block-size: var(--grid-box-size);
	inline-size: var(--grid-box-size);
}

.circle {
	block-size: var(--token-size);
	inline-size: var(--token-size);
	border: 0.9375rem solid blue;
	border-radius: 50%;
}

.cross {
	position: relative;
	block-size: var(--token-size);
	inline-size: var(--token-size);
}

.cross::before,
.cross::after {
	position: absolute;
	content: "";
	background-color: red;
	transform: rotate(45deg);
}

.cross::before {
	block-size: 100%;
	inline-size: 12.5%;
	top: 0;
	left: var(--cross-center-point);
}

.cross::after {
	block-size: 12.5%;
	inline-size: 100%;
	top: var(--cross-center-point);
	left: 0;
}

.btn {
	inline-size: 150px;
	padding: 0.5rem;
	margin: 0;
}

.info {
	font-size: 2rem;
}

.footer {
	position: absolute;
	bottom: 0;
}
